@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .darker {
    @apply bg-slate-100 dark:bg-slate-800
  }

  /* .vertical-img-display {
    @apply
  }

  .horizontal-img-display {
    @apply
  }

  .video {
    @apply
  } */

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
    focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40 dark:focus:border-[#3b82f680]/40
    dark:focus:text-[#3b82f680]/40 dark:hover:border-[#3b82f680]/40
  }
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/VisueltPro/VisueltPro-Bold.woff2') format('woff2'),
       url('/fonts/VisueltPro/VisueltPro-Bold.woff') format('woff'),
       url('/fonts/VisueltPro/VisueltPro-Bold.ttf') format('truetype'),
       url('/fonts/VisueltPro/VisueltPro-Bold.eot') format('eoembedded-opentypet');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/VisueltPro/VisueltPro-Light.woff2') format('woff2'),
       url('/fonts/VisueltPro/VisueltPro-Light.woff') format('woff'),
       url('/fonts/VisueltPro/VisueltPro-Light.ttf') format('truetype'),
       url('/fonts/VisueltPro/VisueltPro-Light.eot') format('eoembedded-opentypet');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
